#mainTopic{
    color: blue;

}
*{
    text-align: center;
}
h1,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* h3+p{
    color: white;
    background-color: cornflowerblue;
} */
div>p{
    color: white;
    background-color: cornflowerblue;
}
div>button{
    color: azure;
    background-color: purple;
}
button:hover{
    color: blue;
    background-color: yellow;
}
h1::first-letter{
    color: red;
}
input:checked+label{
color: darkgreen;
}
div p:nth-of-type(2n){
    color: yellow;
}


