#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.inside{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius:50% ;
   
}
#first{
    background-color: red;
}
#second{
    background-color: yellow;
}
#third{
    background-color: green;
}