h1{
    color:#A82400;
}
#login{
    background-color: white;

}
#signup{
    background-color: #A82400;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}
/* descendant selector */
p a {
    color: purple;
    background-color: yellow;
}
nav  a{
    color: hotpink;
}
p + h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color: blue;
}
div >input{
    background-color: darksalmon;
}
/* input[type="text"]{
    color: red;

}

input[type="password"]{
    color: green;
} */

input[type~="text"] {
    background-color: ghostwhite;
}
/* input[type$="password"] {
    background-color: yellow;
} */
input[type*="password"] {
    background-color: red;
}