/* div{
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    transition: 2s;
} */
 div{
    background-color: yellow;
    border: 2px solid black;
    height: 100px;
    width: 100px;

 }
 /* div:hover{
    background-color: red;
    margin: 10px;
    transition: 1s;
    transition-delay:2s ;
    border-radius: 50%;
    transform: rotate(45deg); */
 /* } */
 #one:hover{
    background-color: aqua;
    height: 100px;
    width: 100px;
    transform: rotate(90deg);
    transform: scale(2);
    transform: translate(20px);
    transform: translatex(30px);
    
 }
 #four{
   transform: skew(30deg);

 }
 #five{
   transform: rotate(20deg);
   transform: skew(25deg);
   transform: scale(2);
   margin: 10px;
   transition-behavior: allow-discrete;
 }